.rootClassName{
    height: 80%;
}

.content {
    height: 100%;
    overflow-y: auto;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 15px;
}


.amountWords {
    font-weight: lighter;
    font-size: 14px;
    color: #9EA5AE;
    margin: 16px 0;
}