.rootElement {
    position: fixed;
    width: 340px;
    height: 50px;
    display: flex;
    background: #292A2E;
    z-index: 2147483647;
    border-top-left-radius: 27px;
    border-bottom-left-radius: 27px;
}

.logo {
    width: 50px;
    border: 1px solid #292A2E;
    display: flex;
    justify-content: center;
    align-items: center;
}