.rootClassName {
    width: 100%;
    height: 100%;
    padding: 20px 0 10px;
}

.hidden {
    display: none !important;
}

.wordMeaning {
    color: white;
    font-weight: 200;
    font-size: 12px;
}

.wordMeaning p {
    font-style: italic;
}

.wordUsage, .synonyms, h3 {
     color: #FFFFFF;
}

.wordUsage div {
    font-size: 12px;
    font-weight: 200;
    padding-bottom: 5px;
}
.synonyms {
    padding-bottom:10px;
}
