.rootClassName {
    width: 100%;
    height: 100%;
    padding: 10px 0;
}

.rootClassName hr {
    width: 100%;
    border: none;
    border-bottom: 1px solid #9EA5AE;
}

.hidden {
    display: none !important;
}

.wordMeaning {
    color: white;
    font-weight: 200;
    font-size: 12px;
}

.wordMeaning p {
    font-style: italic;
}

.wordUsage, .synonyms, h3 {
     color: #FFFFFF;
}

.wordUsage div {
    font-size: 12px;
    font-weight: 200;
    padding-bottom: 5px;
}
.synonyms {
    padding-bottom:10px;
}

.controlsWrapper {
    display: flex;
    justify-content: end;
    gap: 5px;
    margin-top: 3px;
    button {
        background-color: transparent;
        border: 1px solid #9EA5AE;
        color: #9EA5AE;
    }
}

.saveToDictionaryButton {
    width: 100%;

    button {
        width: 100%;
        height: 100%;        
    }

}