.rootClassName {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.emptyResultContainer {
    color: #9EA5AE;
}

.historyContainer {
    display: grid;
    grid-template-columns: 1fr 200px 1fr;

    button {
        background-color: transparent;
    }
}

.clearHistoryButton {
    margin-left:auto;
}
.hidden {
    display: none !important;
}