.rootClassName {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 80%;
}

.emptyResultContainer {
    color: #9EA5AE;
}

.historyContainer {
    display: flex;
    gap: 8px;
    flex-direction: column;
}

.clearHistoryButton {
    margin-left:auto;
}
.hidden {
    display: none !important;
}