* {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
}

.rootClassName {
    height: 100vh;
    background-color: #292A2E;
    display: flex;
    justify-content: center;
    align-items: center;
}