.rootClassName {
    height: 100%;
}

.rootClassName .toolsContainer {
    display: flex;
    justify-content: start;
    align-items: stretch;
    gap: 1rem;
}

.toolsContainer > div:last-child {
    margin-left: auto;
}

.dictionaryContent {
    height: 100%;
}