.rootClassName{
    height: 80%;
}

.content {
    height: 100%;
    overflow-y: auto;
    color: white;
}

.content::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

.content::-webkit-scrollbar-track {
    background-color: #3F4246;
}

.content::-webkit-scrollbar-thumb {
    background: #9EA5AE; 
    border-radius: 5px;
}

.amountWords {
    font-weight: lighter;
    font-size: 14px;
    color: #9EA5AE;
    margin: 16px 0;
}

.tableHeaderTools {
    display: flex;
    justify-content: start;
    gap: 1rem;
}

.wordsSelectedLabel {
    color: white;
    margin-left: auto;
}