.rootClassName{
    height: 80%;
}

.content {
    height: 280px;
    overflow-y: auto;
    color: white;
}


.amountWords {
    font-weight: lighter;
    font-size: 14px;
    color: #9EA5AE;
    margin: 16px 0;
}

.tableHeaderTools {
    display: flex;
    justify-content: start;
    gap: 1rem;
}

.wordsSelectedLabel {
    color: white;
    margin-left: auto;
}