.rootClassName{}

.content {
    display: flex;
    flex-direction: column;
    gap: 12px; 
}

.checkboxesWrapper, .collectionLabel{
    display: flex;
    flex-direction: column;
    gap: 12px;
    justify-content: start;
    max-height: 200px;
    overflow-y: auto;
}

.checkboxRow {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}

.addCollectionButton  button{
    background-color: #9EA5AE;
}

.errorMessage {
    color: #EE8144;
}