.rootClassName {
    display: flex;
    flex-direction: column;
    width: fit-content;
}

.rootClassName select {
    border: none;
    min-width: 150px;
    height: 100%;
    border-radius: 5px;
    min-height: 30px;
}

.label{
    font-size: 12px;
    font-weight: 200;
    margin-bottom: 3px;
}

.disabled {
    cursor: not-allowed;
}