.rootClassName {
    color:#9EA5AE;
    display: flex;
    align-items: center;
   justify-content: space-between;
}
.hidden {
    display: none !important;
}

.rootClassName > div:first-child {
    color: #00CE8F;
}