.rootClassName {
    color:#9EA5AE;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(5, 35px);
    gap: 8px;
}
.hidden {
    display: none !important;
}

.rootClassName > div:first-child {
    color: #00CE8F;
}