.rootClassName h2 {
    color: white;
    margin: 0;
}

.rootClassName {
    display: flex;
    flex-direction: column;
    gap:16px;
}
.switchWrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
}