.rootClassName > div > div {
    width: 300px;
}

.content {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.rootClassName div:has(>button) {
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;

    button {
        width: 50%;
        height: 100%;
    }
}

.resetPasswordWrapper {
    margin-top: 16px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.resetPasswordButton button {
    background-color: transparent;
    border: 1px solid #9EA5AE;
    color: #9EA5AE;
    width: 90% !important;
}

.resetPasswordButton {
    flex: 1;
}
