.rootClassName {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.rootClassName h2 {
    padding:0;
    margin: 0;
    color: white;
}
.rootClassName span {
    color: #9EA5AE;
}

.selectionWrapper {
    display: flex;
    gap: 16px;
}