.rootClassName {
    background-color: #3F4246;
    border-radius: 20px;
    padding: 20px;
    position: relative;
}

.title {
    margin: 0;
    font-size: 20px;
    font-weight: 500;
    color: #FFFFFF;
    margin-bottom: 20px;
}

.tabContent {
    height: 90%;
    width: 100%;
}

.hidden {
    display: none;
}