.rootClassName {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
    border-radius: 10px;
    background-color: #3F4246;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    position: relative;
}

.rootClassName:hover {
    transform: scale(1.05);
}

.rootClassName h2, p {
    color: white;
}

.rootClassName h2 {
    margin: 0;
}

.rootClassName p {
    width: 60%;
    color: #9EA5AE;
    font-size: 12px;
    font-weight: 300;
}

.rootClassName > div {
    position: absolute;
    top: 3rem;
    right: 1rem;
    width: 50px;
    height: 50px;
}

.active {
    background-color: #00CE8F;
}

.active h2, .active p {
    color: #292A2E;
}

.active svg g path {
    fill: #292A2E;
}

.active p > div {
    color: #292A2E;
    border: 1px solid #292A2E;
}

.active {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}