.rootClassName .description {
    font-weight: 600;
}

.rootClassName .subdescription {
    font-weight: 400;
    font-size: 14px;
}

.content {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

