.rootClassName > div > div{
    width: 300px;
}

.description {
    padding: 20px 0;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
}

.submitButton button{
    width: 50%
}

.submitButton {
    padding-top: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.errorMessageWrapper {
    color: #EE8144;
    margin-top: 10px;
    font-weight: 600;
}