.rootClassName {
    min-height: 420px;
    margin-top: 16px;
    display: flex;
}

.buttonsContainer {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}

.buttonsContainer button {
    min-width: 100px;
    padding: 5px 10px;
    background: transparent;
    color: white;
    flex: 3;
    justify-content: start;

}

.buttonsContainer .active {
    border-left: 4px solid #00CE8F;
    background: #3F4246;
}

.tabContent {
    background: #3F4246;
    flex: 7;
    border-radius: 5px;
    padding: 16px;
}