.content {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.listWrapper {
    width: 45%;
    display: flex;
    gap: 10px;
}

.listWrapper ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.listWrapper h3 {
    margin: 0;
}

.list {
    width: 100%;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.listWrapper li {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.listWrapper span.translation {
    color: #9EA5AE;
}

.listWrapper span.correctWord {
    color: #00CE8F;
}

.listWrapper span.incorrectWord {
    color: #EE8144;
}