.rootClassName {
    display: flex;
    flex-direction: column;
    gap:16px;
}

.rootClassName h2 {
    color: white;
    margin: 0;
}

.controlsWrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.selectVoice{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 60%;
    gap: 5px;
}