.listOfWords {
    display: grid;
    grid-template-columns: 50px 50px 200px 200px 100px ;
    row-gap: 7px;
    overflow-y: auto;
    align-items: center;
}

.periodRaw {
    display: grid;
    grid-template-columns: 50px 50px 1fr 1fr 50px;
    align-items: center;

    > h3 {
        font-weight: lighter;
        font-size: 14px;
        color: #9EA5AE;
    }

    path {
        stroke: #9EA5AE;
    } 
}

.wordContainer, .translationContainer {
    font-size: 18px;
}

.wordContainer {
    color: #00CE8F;
}

.translationContainer {
    color: #ffff;
}


.playWordIcon button, .removeWordIcon button {
    background:transparent;
}

.removeWordIcon path {
    stroke: #9EA5AE;
}

.hidden {
    display: none;
}

.wordListVisible {
    transform: rotate(180deg);
}